{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block content %}
    <div class="container" id="main-container">
        <section>
            <div class="row description" id="about">
                <div class="col-lg-4 col-md-4 col-sm-12 gradient-border">
                    {% trans "My photo" as photo %}
                    <img src="{% static "img/my_photo.png" %}" class="img-fluid" alt="{{ photo }}">
                </div>
                <div class="col">
                    <p>
                        {% trans "My name is Anastasia. I’m looking for vacancy Junior Python/Django Developer. I'm from Zhytomyr, Ukraine. Now I'm studying at Zhytomyr Polytechnic State University of specialty Software Engineering." %}</p>
                    <h3>{% trans "Hobby" %}</h3>
                    <p>
                        {% trans "I like to ride a bike, run, listen to music, sing. At my free time I prefer to reading books and learning play on guitar." %}
                    </p>
                    <div class="text-center">
                        <a class="btn btn-dark text-center"
                           href="{% url 'download_pdf' %}"
                           role="button">{% trans "Download" %} CV</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
