{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block content %}
    <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col description text-center">
{#                <div class="">#}

                    <h1>{% trans "Welcome to my site" %}</h1>
                    <p>{% trans "This is my personal website. It contains information about me, portfolio and near future there will be a blog." %}</p>
                    <a class="btn btn-dark" href="{% url 'about' %}"
                       role="button">{% trans "Read more about me" %}</a>
{#                </div>#}

                    </div>
                </div>
            </div>
    </header>

{% endblock content %}
