{% load i18n %}
<!-- Start Container -->
<div class="container">

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar">
        <a class="navbar-brand"
           href="{% url 'home' %}">{% trans "Anastasia Perevalova" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span>-->
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% url "home" as home_url %}
                {% url "about" as about_url %}
                {% url "cv" as cv_url %}
                {% url "contacts" as contacts_url %}
                <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                    <a class="nav-link"
                       href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item {% if about_url in request.path %}active{% endif %}">
                    <a class="nav-link"
                       href="{% url 'about' %}">{% trans "About" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Projects" %}</a>
                </li>
                <li class="nav-item {% if cv_url in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'cv' %}">CV</a>
                </li>
                <li class="nav-item {% if contacts_url in request.path %}active{% endif %}">
                    <a class="nav-link"
                       href="{% url 'contacts' %}">{% trans "Contacts" %}</a>
                </li>
                <li class="nav-item language-choice-item">
                    <div class="btn-group dropleft">
                        {% get_current_language as LANGUAGE_CODE %}
                        <button type="button"
                                class="btn dropdown-toggle language"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            {{ LANGUAGE_CODE }}</button>
                        <div class="dropdown-menu">
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <form id='lang_{{ language.code }}'
                                      action="{% url 'set_language' %}"
                                      method='post'>{% csrf_token %}
                                    <input type='hidden' name='language'
                                           value='{{ language.code }}'/>
                                    <a class="dropdown-item {% if LANGUAGE_CODE == language.code %}active{% endif %}"
                                       href='#'
                                       onclick="document.getElementById('lang_{{ language.code }}').submit()">{{ language.name_local }}</a>
                                </form>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>