{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="container" id="main-container">
        <div class="row">
            <div class="col-md-4 projects mx-auto">
                <h1 class="text-center title">{% trans "My works" %}</h1>
            </div>
        </div>
    </div>


    <main role="main">
        <div class="py-5">
            <div class="container projects text-center">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div><h2>{% trans "Student Account Service" %}</h2></div>
                        <div class="card mb-6 shadow-sm">
                            <img src="{% static 'img/studaccservice.png' %}" alt="" width="100%">
                            <div class="card-body text-center">
                                <p class="card-text">{% trans "The site is designed to account for students" %}</p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a class="btn btn-sm btn-outline-secondary"
                                       id="change-password"
                                       href="{{ studaccservice }}"
                                       role="button" target="_blank">{% trans 'View' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
