@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700i&display=swap&subset=cyrillic');


body {
    background-image: url('../img/siteback3.png');
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background: rgba(0, 0, 0, 0.22);*/
}

.title {
    font-family: 'Lora', serif;
}

/* Navigation bar */
.navbar-collapse {
    justify-content: flex-end;
}

#navbar {
    background-color: #161940;
}

.navbar-brand {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
}

.language {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    background-color: #1a2e92;
}

/* About page */

#about {
    margin-top: 30px;
    font-family: 'Lora', serif;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    align-items: center;
}
.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #F97300;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}

#main-container {
    margin-top: 60px;
    flex-grow: 1;
    position: relative;
}

#main-content {
    justify-content: center;
}

/* Contacts page */
#contacts {
    background: rgba(244, 244, 244, 0.73);
}
#contacts h1 h2 {
    color: #002475;
    background-color: white;
}

#contacts h1{
    text-decoration: underline;
    font-weight: 700;
}

.social-icon i {
    color: #000;
}

.social-icon i:hover {
    color: #000678;
}

.social-icon li {
    display: inline-block;
}

.list-inline-item {
    margin-right: 0px;
}

/* Home page */
.header {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.description {
    background: rgba(244, 244, 244, 0.73);
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    margin-top: 150px;
    /*margin: auto;*/
    padding: 2em;
}

.description h1, .projects h1, .projects h2 {
    color: #131d74;
}

.description p, .projects p {
    color: #414141;
    font-size: 20px;
    /*width: 50%;*/
    line-height: 1.5;
}

/*Projects*/
.projects {
    background: rgba(244, 244, 244, 0.73);
    padding: 2em;
    display: flex;
    /*align-items: center;*/
    /*flex: auto;*/
    justify-content: center;

}

/* Footer */
footer {
    background-color: #333D80;
    color: white;
    /*position: absolute;*/
}

h1 h2 h3 {
    font-weight: 700;
}